.container-fluid {
    background-image: url('../images/a1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    height: 700px;
}