<div class="container-fluid">
    <app-form (userSearch)="searchUser($event)"></app-form>
    <ul *ngFor="let repo of repoArray">
        <li> {{repo.name}}</li>
        <div class="card row panel panel bg-transparent">
            <div class="col-md-12 card-title bg-transparent" style="width: 18rem;">
                <em>{{repo.name}} </em></div>
            <div class="col-md-12 card-content bg-transparent" style="width: 18rem;">Language used: {{repo.language}}</div>
            <div class="col-md-12 card-content bg-transparent" style="width: 18rem;"> {{repo.description}}</div>
            <p><a href={{repo.html_url}} class="btn btn-success">view project on github</a></p>
        </div>
    </ul>
</div>