.container-fluid {
    background-image: url('./images/a2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    color: whitesmoke;
}