<div class="container-fluid">
    <div class="row">
    </div>
    <div class="col-md-6">
        <app-form></app-form>
    </div>
    <div class="col-md-6">
        <p class=" text-center ">Hello guys today we will be searching user names and public repos on github</p>
        <div class="row">
            <blockquote class="blockquote text-center">
                <p class="mb-0">Your username is :{{user.name}}</p><br>
                <footer class="blockquote-footer"><cite> Your Bio is :{{user.bio}}</cite></footer>
            </blockquote>
        </div>
        <app-repo></app-repo>
    </div>



</div>